.logo {
    width: 40px;
    height: 40px;
    margin-left: 5px;
}

html, body {
    height: 100%;
}
.content {
    flex: 1 0 auto;
}
.feature-card {
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.feature-card:hover {
    transform: translateY(-10px);
}
.feature-image {
    min-width: 150px;
    max-width: 260px;
    min-height: 150px;
    max-height: 260px;
    object-fit: cover;
    overflow: hidden;
    margin: 0 auto;
}

.mx-2 {
    font-size: large;
}

.img-fluid {
    max-width: 253px !important;
    max-height: 253px !important;
    min-width: 174px !important;
    min-height: 174px !important;
}