<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Аккаунт</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/account.css" rel="stylesheet">
  <link rel="icon" href="/static/img/logo.svg" type="image/x-icon">
</head>
<body>
  <script>

  </script>
  <main>
    <!-- Верхняя панель -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="d-flex align-items-center">
          <a href="/main" class="navbar-brand">
            <img src="/static/img/logo.png" class="logo me-2" alt="Логотип">
          </a>
          <span class="mx-2">Virtual Doctor's Assistant</span>
        </div>

        <div class="d-flex">
          <button onclick="logout()" class="btn btn-outline-primary me-2" type="button">Выйти</button>
        </div>
      </div>
    </nav>

    <!-- Контент страницы -->
    <div class="content">
      <div class="container mt-4">
        <!-- Поле для ввода символов -->
        <div class="inp mb-3">
          <label for="symptomInput" class="form-label" style="font-size: large;">Введите симптомы:</label>
          <div class="input-group mb-3">

            <input type="text" class="form-control" id="symptomInput">
            <button class="btn btn-primary" type="button" onclick="submitSymptoms()">Отправить</button>
          </div>
        </div>

        <!-- Окно для отображения ответа -->
        <div id="diagnosisWindow" class="mb-3">
          <label for="symptomInput" class="form-label" style="font-size: large;">Ответ:</label>
          <div id="diagnosisList" class="form-control"></div>
        </div>

        <!-- Строка для поиска симптомов -->
        <div class="mb-3">
          <label for="filterInput" class="form-label">Фильтровать симптомы:</label>
          <input type="text" class="form-control" id="filterInput">
        </div>
        <div id="symptomExamples" class="row row-cols-5">
          <!-- Блоки с примерами симптомов будут добавлены программно -->
        </div>
      </div>
    </div>
    <script src="/static/js/account.js"></script>
  </main>
  <!-- Подвал страницы -->
  <footer class="footer py-3 bg-light mt-auto">
    <div class="container">
      <span class="text-muted">© 2024 Виртуальный помощник врача</span>
    </div>
  </footer>
</body>
</html>
